<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">
    <%= link_to "Icon", root_path, class: "navbar-brand core-sprite hide-text" %>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 px-7">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        >
      </form>
      <ul class="navbar-nav mr-auto px-7">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-xl fa-regular fa-compass"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-xl fa-regular fa-heart"></i></a>
        </li>
        <li class="nav-item">
          <%= link_to "", user_path(current_user), class:'fa-xl fa-regular fa-user mt-3' %>
        </li>
      </ul>
    </div>
  </div>

</nav>
